div.editor-zone {
  position: relative;
  max-width: 70vw;
  > div.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    width: 100%;
    height: 53px;
    padding-right: 10px;

    background-color: color-mix(in srgb, var(--primary) 50%, #fff);

    color: #fff;
    transition: .1s;
    > button {
      padding: 0 20px;
      height: 100%;
      background-color: #0000;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1.5em;
      font-weight: bold;
      transition: .3s;
      &:hover { background-color: #0002; }
    }
  }
  > section > div {
    width: 680px !important;
    min-width: 412px !important;
    max-width: 100%;
    height: calc(100% - 53px) !important;
    &::after {
      content: '';
      position: absolute;
      top: -53px;
      right: 0;
      width: 4px;
      height: 100%;
      background-color: var(--primary);
      cursor: ew-resize;
      transition: .3s;
    }
  }
}
